<h1>Da Burger Shop</h1>

<h2>Burgers that have yet to be devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Gobbled up burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Would you like to immediately consume the burger you are about to create?</label><br>
    <input type="radio" name="devoured" value="1" checked> Eat it now!<br>
    <input type="radio" name="devoured" value="0"> Save it for later...
  </div>

  <button type="submit">Add Burger</button>
</form>
