li {
    padding: 5px;
    margin: 5px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background:green;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  body{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("../img/burger.jpg");
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }
  
  h1{
    text-align:center;
    font-size:35px;
    text-decoration:underline;
  }